* {
    margin: 0;
    padding: 0;
}

.main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.header {
	padding: 5px;
	display: flex;
	justify-content: center;
	background: silver;
}

.header > *:not(:first-child) {
	margin-left: 20px;
}

#solve {
	padding: 15px;
	border: none;
	outline: 0;
	background: #dddddd;
	cursor: pointer;
}

#solve:hover {
	background: skyblue;
}

#solve {
	align-self: center;
}

.arrows {
	display: grid;
	grid-template-areas: 
	". u ."
	"l . r"
	". d .";
}

.arrows button {
	border: none;
	background: none;
	outline: none;
	padding: 0 4px;
	font-size: 20px;
	cursor: pointer;
}

.arrows button:hover {
	color: white;
}

#left {
	grid-area: l;
}
#right {
	grid-area: r;
}

#up {
	grid-area: u;
}

#down {
	grid-area: d;
}

#body {
	flex: 1;
}
