@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
	font-family: 'Open Sans';
    padding: 0;
}

.main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.header {
	padding: 5px;
	display: flex;
	justify-content: center;
	background: skyblue;
	> *:not(:first-child) {
		margin-left: 20px;
	}
	> * {
		align-self: center;
	}
}

.note {
	font-size: 15px;
	strong {
		font-size: 25px;
	}
	max-width: 30vw;
	padding: 5px;
}

$hover-color: white;
$default-arrow-color: rgba(black, 0.5);

.actions {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	label {
		font-weight: bold;
		text-transform: uppercase;
	}

	> div {
		padding: 4px 10px;
		text-align: center;
		> * {
			margin: 5px;
		}
	}
	#grid-size {
		width: 40px;
		padding: 5px;
		border: none;
	}
	button {
		font-weight: bold;
		padding: 15px;
		border: none;
		outline: 0;
		background: #dddddd;
		cursor: pointer;
		&:hover {
			background: $hover-color;
		}
	}
}

.arrows {
	display: grid;
	grid-template-areas: 
	". u ."
	"l . r"
	". d .";
	button {
		padding: 2px;
		border: none;
		background: none;
		outline: none;
		font-size: 20px;
		cursor: pointer;
		&:hover {
			color: white;
		}
		img {
			width: 16px;
		}
	}
}

$width: 10px;
@mixin triangles {
	width: 0; 
	height: 0; 
	border: $width solid transparent;
	border-radius: 20%;
}

.arrows > button > div {
	@include triangles;
}

#left {
	grid-area: l;
	> div {
		border-right: $width solid $default-arrow-color;
		&:hover {
			border-right-color: $hover-color;
		}
	}
}

#right {
	grid-area: r;
	> div {
		border-left: $width solid $default-arrow-color;
		&:hover {
			border-left-color: $hover-color;
		}
	}
}

#up {
	grid-area: u;
	> div {
		border-bottom: $width solid $default-arrow-color;
		&:hover {
			border-bottom-color: $hover-color;
		}
	}
}

#down {
	grid-area: d;
	> div {
		border-top: $width solid $default-arrow-color;
		&:hover {
			border-top-color: $hover-color;
		}
	}
}

#body {
	flex: 1;
	min-height: 0;
}
